{% extends "base.html" %}
{% block title %}Evaluar Diagnóstico{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h2>Evaluar Diagnóstico</h2>
    </div>
    
    <div class="card-body">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
                {% if 'success' in message.tags %}
                <a href="{% url 'listado_diagnosticos' %}" class="alert-link">Ir al listado</a>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{formulario_diagnostico.as_p}}
            <button type="submit" class="btn btn-primary">Evaluar Diagnóstico</button>
        </form>

</div>
{% endblock %}
