{% extends "base.html" %}
{% block title %}Menu Recepción{% endblock %}

{% block content %}
<h2>Menu de Recepción</h2>

<ul>
    <li><a href="{% url 'registrar_equipo' %}" class="btn btn-primary">Registrar Equipo</a></li>
    <li><a href="{% url 'listado_equipos' %}" class="btn btn-secondary">Listado de Equipos</a></li>
    <li><a href="{% url 'asignar_diagnostico' %}" class="btn btn-secondary">Asignar Diagnóstico</a></li>
    <li><a href="{% url 'evaluar_diagnostico' %}" class="btn btn-secondary">Evaluar Diagnóstico</a></li>
    <li><a href="{% url 'listado_diagnosticos' %}" class="btn btn-secondary">Listado de Diagnósticos</a></li>

</ul>
{% endblock %}
