{% extends "base.html" %}
{% block title %}Registrar{% endblock %}
{% block content %}
<h2>Por favor registre su problema</h2>

 {% if mensaje %}
        <p style="color:green;">{{ mensaje }}</p>
    {% endif %}
<form class="mb-4" method="post">
    {% csrf_token %}
    <input type="text" name="nombre" id="nombre" placeholder="Nombre"> 
    <input type="text" name="equipo" id="equipo" placeholder="Equipo">
    <input type="text" name="problema" id="problema" placeholder="Problema">
    <button type="submit" class="btn btn-secondary">Enviar</button>
    <li><a href="{% url 'menu_recepcion' %}" class="btn btn-primary">Ir al menu</a></li>
    <a href="{% url 'logout_view' %}" class="btn btn-danger">Cerrar sesión</a>

    
</form>

{% endblock %}