{% extends "base.html" %}
{%block title %}Comprobante de Entrega{% endblock %}  
{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Comprobantes de Entrega</h2>
    </div>
    <div class="card-body">
        {% if entregas %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cliente+Equipo</th>
                    <th>Diagnóstico</th>
                    <th>Solución</th>
                    <th>Estado</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entrega in entregas %}
                <tr>
                    <td>{{ entrega.paciente }}</td>
                    <td>{{ entrega.paciente.Equipo_diagnosticado.diagnostico|default:"PENDIENTE" }}</td>
                    <td>{{ entrega.paciente.Equipo_diagnosticado.solucion|default:"PENDIENTE" }}</td>
                    <td>{{ entrega.estado }}</td>
                    <td>{{ entrega.observaciones }}</td>
                    <td>
                        <a href="{% url 'editar_reporte' entrega.pk %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'eliminar_reporte' entrega.pk %}" class="btn btn-danger">Eliminar</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay comprobantes de entrega registrados.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
