{% extends "base.html" %}
{% block title %}Reporte de entregas{% endblock  %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Reporte de Entrega</h2>
    </div>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            {% if 'success' in message.tags %}
            <br><a href="{% url 'comprobante' %}" class="btn btn-secondary mt-2">Ver Comprobante</a>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{formulario_entrega.as_p}}
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

 
    </div>
</div>
{% endblock %} 
